[2022-04-21 06:17] Miss-PiA opened #1 "Code assignment request"
- Name: Your Full Name

[2022-04-21 06:17] #1 closed

[2022-04-21 06:59] nets-dev opened #2 "First Name Last Name, iOS assignment request"
Hi, my name is (**_name_**). I have about 3 years of experience working as an iOS developer and have experience in Swift.
You may grant my Github account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

(This is a brief sample of the request we expect from candidates)

[2022-04-26 08:02] sudhir-bhagat opened #3 "Sudhir_Bhagat_IOS"
I am sudhir bhagat.
I have 6+ experience in ios developer. I have worked on objective C and swift programming languages. I have worked on bluetooth in ios, core location, core graphics during.
[Resume-SudhirBhagat_iOSDeveloper.docx](https://github.com/nets-dev/assignment/files/8561076/Resume-SudhirBhagat_iOSDeveloper.docx)

[2022-04-26 12:04] nets-dev commented on #3
Hi @sudhir-bhagat, we'll grant access of our project shortly. Thank you for your patience in advance!

[2022-04-29 04:03] nets-dev commented on #3
@sudhir-bhagat We have sent you an invitation to our repository. You may accept the repository and follow the instructions in README.md of the repository to implement the tasks. Have you received the invitation?

[2022-04-29 04:27] sudhir-bhagat commented on #3
Yes. I got the invitation.

Thanks.

[2022-05-05 11:52] #3 closed

[2022-05-05 12:03] ShanmugarajeshwaranBalasubramanian opened #4 "Shanmugarajeshwaran B - iOS"
I am Shanmugarajeshwaran B and I have totally 8 years of experience and 5 plus in Banking domain. I have planned to start the assignment by May 6th 2022

[2022-05-05 13:14] nets-dev commented on #4
Hi @ShanmugarajeshwaranBalasubramanian , can you confirm if you've received the invitation?

[2022-05-06 05:04] sddhrthkum opened #5 "Siddharth Kumar - iOS"
I am Siddharth Kumar. I have total 6.5 years of experience all into the iOS app development. I have worked in e-commerce and banking related apps. I am planning to start the assignment from 7th May.

[2022-05-06 09:49] ShanmugarajeshwaranBalasubramanian commented on #4
Hi @nets-dev  Yes I have Received Invite

[2022-05-06 14:45] nets-dev commented on #5
Hi @sddhrthkum, we have sent you an invitation to the assignment project. Can you confirm if you have received the invitation?

[2022-05-08 07:07] #4 closed

[2022-06-09 09:14] Panneer-LTI opened #6 "PanneerSelvam - iOS assignment request"
Hi, my name is Panneerselvam. I have about 5+ years of experience working as an iOS Mobile application developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I'm available in this week and will start working on the project as soon as I get the access. Thanks!

[2022-06-13 05:38] nets-dev commented on #6
Hi @Panneer-LTI, we've sent you an invitation to the project. Please read the instructions thoroughly in the README.md file. Also note that each `.swift` file contains comments giving more instructions to help you complete the tasks. Best of luck!

[2022-06-17 05:25] Pyata-Saivarun opened #7 "Sai varun Pyata, iOS assignment request"
Hi, my name is Sai Varun Pyata.I am trained in Swift and have an experience of 1 year. I have worked on multiple hands-on application along the training. You may grant my Github account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-06-17 07:21] nets-dev commented on #7
Hi @Pyata-Saivarun, we've sent you an invitation to the project. Please read the instructions thoroughly in the README.md file. Also note that each .swift file contains comments giving more instructions to help you complete the tasks. Best of luck!

[2022-06-17 08:23] shiyaamsundar opened #8 "Nets-dev assignment iOS development"
Hi myself Shiyaam, still I haven't started my training with the swift iOS because of the machine issue.
I don't have any experience on  realtime projects.
Due to the machine issue I'm waiting for my replacement machine, and then I need to complete my training (pluralsight courses) , then work with some demo apps to get the hands on experience, after that only I'll be able to start this assignment.

[2022-06-22 06:32] nets-dev commented on #8
Hi @shiyaamsundar, we'll invite you to the project shortly!

[2022-06-22 06:35] nets-dev commented on #8
Hi @shiyaamsundar , we've sent you an invitation to the project. Please read the instructions thoroughly in the README.md file. Also note that each .swift file contains comments giving more instructions to help you complete the tasks. Best of luck!

[2022-06-22 06:38] shiyaamsundar commented on #8
Hi @nets-dev currently I don't have a mac machine to start with the assignment I'm waiting for my replacement machine to be delivered, and I need some time before starting the assignment because i haven't completed my IOS training because the machine issue, so after receiving my matching ill just walk through the course to get some idea about this Swift&IOS platform and start this assignment. Is i

[2022-06-28 07:15] hari4krishnan opened #9 "Hari krishnan G, iOS Assignment request"
I'm an iOS developer with 5+ years of experience, developed over 8 apps from scratch to app store as a one person team. my recent project was AMC Cinemas KSA app which has 20K daily active users and has 4.5 stars rating in AppStore.

you can grant access but currently i don't have a macbook to work, I can start with the assignment the next day once i get a macbook to work on.

[2022-06-28 07:17] nets-dev commented on #9
Hi @hari4krishnan, thank you for contacting us! Can you get back to us once you have a device to work on?

[2022-06-28 07:18] nets-dev commented on #8
Hi @shiyaamsundar, have you found a device to work on?

[2022-06-28 07:19] hari4krishnan commented on #9
Sure!

[2022-07-01 06:29] nets-dev commented on #9
@hari4krishnan Hi, any update so far?

[2022-07-01 07:00] Pyata-Saivarun opened #10 "SAI VARUN PYATA ,IOS ASSIGNMENT"
Hello I am SaiVarun Pyata I have got the code access before but it was just for a week I have submitted my assignment and raised pull request after that I accidentelly closed that page so now I'm not able to open it as the code access was only for a week I guess so if I want to check my code review I'm not able to check so please look into this and provide me access for this.

[2022-07-14 15:43] ghouslnt opened #11 "iOS Assignment Request"
Hi, my name is  Ghous Ansari. I have about 4.4 years of experience working as an iOS developer and have experience in Swift.
I latest project was IOT based. We had more than 2.1 k users and 2.5 k rating from user about 4.2 stars rating.

You may grant my Github account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-07-15 07:17] nets-dev commented on #11
Hi @ghouslnt, we have sent you the invitation to our assignment project. Introduce yourself to the project and read the comments in each file carefully before starting the tasks. Feel free to ask questions in the comments section of the repository and we'll assist you, just make sure to tag `nets-dev` in your comments so we get notified.

[2022-08-04 16:47] takranivivek opened #12 "Vivek Takrani, iOS assignment request"
Hi, my name is Vivek Takrani. I have 7 years of experience working as an iOS developer and equivalent experience in Swift. Request you to please grant my GitHub account access to the iOS code assignment. I am available and will start working on the project from today itself. Thanks!

[2022-08-05 05:20] nets-dev commented on #12
Hi @takranivivek, we have sent you an invitation to the assignment project. We recommend taking your time and understanding the instructions and guidelines (found in README file and each Swift file as code comments) thoroughly before you start working on the tasks. Feel free to tag `nets-dev` in comments section if you have any questions.

We look forward to your pull request!

[2022-08-05 12:50] tajeet25290 opened #13 "IOS Case"
Hi, my name is Ajeet Sharma. I have 9 years of experience working as an iOS developer and equivalent experience in Swift. Request you to please grant my GitHub account access to the iOS code assignment. I can start work by tomorrow morning on the assignment. Regards!

[2022-08-08 12:03] nets-dev commented on #13
Hi @tajeet25290, thank you for your interest. Do you have a GitHub account with repositories?
If so, please share a link below so we can take a look at your projects while you work on this assignment.

We have sent you an invitation to the assignment project. Feel free to reach out if you have any questions.

[2022-08-17 09:08] udayshettyp opened #14 "iOS Assignment"
Hi ,
 My name is Uday Bhaskar P.  I am carrying 4 + years of experience as iOS Application Developer  and I have work knowledge on Swift and Objective - C . I will be free tomorrow  at any session of time ,  please  give access to the GitHub account and will start working on project tomorrow.

Thank you
uday7493@gmail.com

[2022-08-31 07:34] nets-dev commented on #14
Hi @udayshettyp, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-09-02 13:27] Aviru opened #15 "Aviru Bhattacharjee, iOS assignment request"
Hi, my name is Aviru Bhattacharjee. I have about 8 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I will be free this weekend and will start working on the project as soon as I get the access.

Thanks!
Aviru Bhattacharjee

[2022-09-03 05:21] nets-dev commented on #15
Hi @Aviru , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-09-05 15:04] nets-dev commented on #15
@Aviru We'd also like to point out that, during this process, make sure to have your GitHub **notifications on** and **reply promptly**. We are still waiting for your reply for the above request!

[2022-09-05 15:19] Aviru commented on #15
Hi,

Request you to please let me know if I need to share any of my existing
demo project as reference.

*Thanks & Regards,*
*Aviru Bhattacharjee*
*Mobile: 8961390612*
*Email: ***@***.*** ***@***.***>*

On Mon, Sep 5, 2022 at 8:34 PM nets-dev ***@***.***> wrote:

[2022-09-05 17:08] nets-dev commented on #15
Hi @Aviru, yes please do share! Use GitHub repositories and let us know once you've uploaded your project/s.

[2022-09-05 19:24] Aviru commented on #15
Hi, I've sent an invite for project reference. Request you to please let me know if you able to access the repository.

Thanks,
Aviru Bhattacharjee

[2022-09-06 06:15] nets-dev commented on #15
Hi @Aviru, we have sent you an invite to the assignment project. Pay close attention to the instructions in the README.md file of the project as well as each Swift file in the project that contains instructional code-comments.

Feel free to ask if you need help but make sure to ALWAYS tag `@netsdev` when you comment in GitHub.
This allows us to receive notifications are reply to you promptly.
We a

[2022-09-07 14:21] shobharajput0710 opened #16 "Shobha Kumari , iOS assignment request"
Hi, my name is Shobha Kumari. I have about 3.4 years of experience working as an iOS developer and have experience in Swift language. Please give access to my GitHub account for iOS code assignment. I will try my best to complete the assignment as soon as possible.

[2022-09-08 06:01] nets-dev commented on #16
Hi @shobharajput0710, we have invited you to work on the assignment. If you have any questions, you can reach us **_directly_** in the GitHub assignment repository comments or issues section. We'll be happy to help!
Make sure to always **tag `@nets-dev`** when you write comments/messages to us so we can receive notifications and reply promptly. Also note that its very important to r**_ead and unde

[2022-09-08 06:23] shobharajput0710 commented on #16
Hi @nets-dev , I have checked the assignment . I will start the assignment by EOD and try to finish as soon as possible.

[2022-09-08 07:51] shouaib07 opened #17 "Shouaib Ahmed, iOS assignment request"
Hi, my name is Shouaib Ahmed. I have about 3.6 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment.I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-09-08 08:38] n4vneetSin9h opened #18 "Navneet Singh, iOS assignment request"
Hi, my name is Navneet Singh. I have about 4 years 9 months of experience working as an iOS developer and have experience primarily in Swift and some experience in Objective C and SwiftUI as well. I have also been part of the process of client handling where I have been in communication with various clients regarding their project requirement and development process. You may grant my GitHub accoun

[2022-09-08 08:54] nets-dev commented on #17
Hi @shouaib07 , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-09-08 09:04] nets-dev commented on #18
Hi @n4vneetSin9h, we have invited you to work on the assignment. If you have any questions, you can reach us directly in the GitHub assignment repository comments or issues section. We'll be happy to help!
Make sure to always tag @nets-dev when you write comments/messages to us so we can receive notifications and reply promptly. Also note that its very important to r**ead and understand** the inst

[2022-09-08 09:09] shouaib07 commented on #17
I have updated my last comment and added my resume which also has some live project links in it.

[2022-09-08 09:24] nets-dev commented on #17
@shouaib07 Thanks but we're only interested in repositories with source code, not apps in AppStore.
Try to upload at least one project to your Github repository.

[2022-09-08 09:53] mekalasiva opened #19 "iOS DEVELOPER"

[2022-09-08 14:06] nets-dev commented on #17
Hi @ShouaibAhmediOS,you can upload your project to a Github repository. Here is the documentation on how to do that:

https://docs.github.com/en/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github

[2022-09-09 05:01] nets-dev commented on #19
Hi @mekalasiva, can you introduce yourself?

See the example:
https://github.com/nets-dev/assignment/issues/2

[2022-09-09 05:22] mekalasiva commented on #19
Hi, my self Siva Mekala and received a link to this assignment from LTI

I have 7.6 years of work experience in Objective C and Swift programing language.
You may grant my Github account access to the iOS code assignment

[2022-09-09 09:26] shouaib07 commented on #17
I knew how to upload code but due to my macbook, I'm unable to do so as it is switching off/on automatically. Kindly check the code from the link and assign the task meanwhile I'm going to the Apple store to give to repair that.

[2022-09-09 09:42] nets-dev commented on #17
Hi @shouaib07, thats unfortunate. The assignment also requires use of GitHub and Xcode so it seems we'll have to wait until your MacBook is fixed. You can upload your project to GitHub after the repair and we'll continue from there.

[2022-09-09 09:47] shouaib07 commented on #17
Hi @nets-dev Thank you for understanding the situation.

[2022-09-10 11:33] n4vneetSin9h commented on #18
Hello @nets-dev I am available for the assignment as soon as possible. Please provide me the further steps/details. Thanks!

[2022-09-12 03:59] nets-dev commented on #18
Hi @n4vneetSin9h, you have already been invited to the project as you can see in the above message from Thursday.
Can you check your GitHub notifications to find the invite? Confirm here if you've found it and can start the assignment today.

https://github.com/nets-dev/practice-ios1/

[2022-09-12 06:02] n4vneetSin9h commented on #18
Hello,

Thanks for your email. I will work on this today and get back to you.

Regards,
Navneet Singh

On Mon, 12 Sep 2022 at 9:29 AM, nets-dev ***@***.***> wrote:

[2022-09-12 06:16] nets-dev commented on #18
Hi @n4vneetSin9h, this is not an email. We're actively chatting with you in GitHub and we advice you do the same.
GitHub comments can be redirected to email like you have now but we'd appreciate a direct communication on GitHub where the assignment is also to be submitted. Is this clear to you?

Can you confirm that you have access to the assignment project?

https://github.com/nets-dev/assignment

[2022-09-12 06:47] n4vneetSin9h commented on #18
Hello @nets-dev Yes the instructions are pretty clear. Yes I do have the access to the assignment.

[2022-09-13 07:34] nets-dev commented on #19
Hi @mekalasiva, we have sent you an invitation. You may get it by email or Github notifications.

[2022-09-15 10:33] gargipandeyios opened #20 "Gargi Pandey, iOS assignment request"
Hi, my name is Gargi Pandey. I have about 5.5 years of experience  as an iOS developer and have experience in Swift . You may grant my GitHub account access for the iOS code assignment. Thanks!

[2022-09-15 10:36] nets-dev commented on #20
Hi @gargipandeyios , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-09-15 10:59] nets-dev commented on #20
@gargipandeyios can you put at least one project in your repositories?

[2022-09-15 11:01] gargipandeyios commented on #20
@nets-dev  i don't have any project code handy with me .

[2022-09-15 11:08] nets-dev commented on #20
@gargipandeyios An invitation has been sent to your private Github account. Have you received it?

[2022-09-15 11:10] gargipandeyios commented on #20
@nets-dev yes just received .

[2022-09-15 11:22] nets-dev commented on #20
@gargipandeyios When can you start?

[2022-09-15 11:25] gargipandeyios commented on #20
@nets-dev  The moment i'll get the macbook , already connected with the team regarding this they are working on it . Will update you .

[2022-09-16 04:04] nets-dev commented on #19
@mekalasiva Can you give an update on the project?

[2022-09-16 05:23] nets-dev commented on #17
Hi @shouaib07, any update on this?

[2022-09-16 09:33] bhavinnagaria opened #21 "Bhavin Nagaria, iOS assignment request"
Hi, my name is Bhavin Nagaria. I have about 5.6+ years of experience in multiple domains such as Banking, Media and Finance, Working as an iOS developer and have experience in Swift and Objective-C. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!
[Bhavin Nagaria_10709546.docx](https://

[2022-09-16 12:13] nets-dev commented on #21
Hi @bhavinnagaria, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

PS, always tag `nets-dev` when you write to us on GitHub so we receive notification and reply promptly.

[2022-09-16 12:34] bhavinnagaria commented on #21
@nets-dev, Sure !

[2022-09-17 09:13] nets-dev commented on #21
@bhavinnagaria Can you clarify what you mean by "Sure"?
Are you going to make this assignment request from your personal GitHub account that has repositories?
Or, are you going to upload your project/s to this GitHub account?

[2022-09-17 10:40] bhavinnagaria commented on #21
@nets-dev I am going to request from your personal GitHub account that has repositories.

[2022-09-18 17:50] Bhavin95 opened #23 "Bhavin Nagaria, iOS assignment request"
Hi, my name is Bhavin Nagaria. I have about 5.6+ years of experience in multiple domains such as Banking, Media and Finance, Working as an iOS developer and have experience in Swift and Objective-C. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!
[Bhavin Nagaria_10709546.docx](https://

[2022-09-19 07:38] nets-dev commented on #23
Hi @Bhavin95, we have sent you an invitation to a GitHub project. Can you confirm that you have access?

[2022-09-19 14:19] chitra16 opened #24 "Chitralekha Yellewar, iOS Assignment Request"
Hi, my name is Chitralekha Yellewar. I have about 7.8 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!
 [@nets-dev](https://github.com/nets-dev) This is my personal GitHub Account, You may grant my GitHub acco

[2022-09-20 06:14] srikant1997 opened #25 "Srikant Das, iOS Assignment Request"
Hi, my name is Srikant Das. I have 4.3+ years of experience in iOS/macOS Application Development using Swift and Objective-c. I have worked in multiple domains like Supply chain domain, Insurance etc, with multiple clients. You may grant my GitHub account access to the iOS code assignment. I can start working on the project as soon as I get the access.
Thanks!

[2022-09-20 06:18] nets-dev commented on #25
Hi @srikant1997 , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

PS, tag `nets-dev` in all your messages in GitHub so we can receive notifications and reply promptly!

[2022-09-20 08:09] srikant1997 commented on #25
@nets-dev Added few projects in my gift repo.

[2022-09-20 11:31] nets-dev commented on #25
@srikant1997 We have sent you an invitation. Can you confirm that you have access?

[2022-09-20 11:52] srikant1997 commented on #25
@nets-dev  Got the access. Thanks!

[2022-09-23 10:37] KomalBarde8782 opened #26 "Komal Barde iOS assignment request"
Hi, my name is Komal Barde. I have about 4 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!
 [@nets-dev](https://github.com/nets-dev) This is my personal GitHub Account, You may grant my GitHub account access

[2022-09-23 10:46] lakshikabhardwaj opened #27 "Lakshika Bhardwaj iOS Assignment Request"
Hi, my name is Lakshika Bhardwaj. I have about 7. 3years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!
 [@nets-dev](https://github.com/nets-dev) This is my personal GitHub Account, You may grant my GitHub account

[2022-09-23 11:13] Rabiya11Momin opened #28 "Rabiya Momin, iOS assignment request"
Hi, my name is Rabiya Momin. I have about 5.5 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-09-23 11:44] Sathishjekamus opened #29 "Sathish Kumar K - iOS Assignment Request"
Hi, My name is Sathish Kumar K from Chennai. I have about 9 years of experience in developing iPhone and iPad application development. worked across product-based and service-based companies in my past days as well as in a start-up company also. I am having more confidence in iPhone application development from scratch (writting network layer, MVVM, VIPER) also good at debugging skills. You may gr

[2022-09-23 13:26] nets-dev commented on #29
Hi @Sathishjekamus, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-09-23 13:30] nets-dev commented on #28
@Rabiya11Momin , You have been invited to the project. Can you confirm that you have access?

[2022-09-23 13:36] nets-dev commented on #26
Hi @KomalBarde8782, You have been invited to the project. Can you confirm that you have access?

[2022-09-24 08:49] skohare-tech opened #30 "Sachin Kohare iOS assignment request"
Hi,
     My name is Sachin Kohare. I have about 3+ years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access.

Thanks!

[2022-09-25 08:05] nets-dev commented on #30
Hi @skohare-tech, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-09-25 13:14] skohare-tech commented on #30
Hello @nets-dev
I have added the some practice project in the same account

[2022-09-25 14:53] nets-dev commented on #30
@skohare-tech Is there even a single Swift file in this practice project you've uploaded?

[2022-09-26 01:53] skohare-tech commented on #30
@nets-dev   That was in another repo in same account. Now I have added into the assignment repo also.

[2022-09-26 05:19] nets-dev commented on #30
@skohare-tech The point is, there is no Swift code in the repository you've provided.
This is an iOS position and we expect applicants to have personal project/s with Swift or Objective C code.
Do you have any project with Swift or Objective C code that you've written?

[2022-09-26 05:37] skohare-tech commented on #30
@nets-dev  Yes i have added in your shared in your shared assignment repo and I am able to see also.
And I have added into my own repo also, You can check on https://github.com/skohare-tech/PracticeDemoCode this location.

[2022-09-26 05:47] nets-dev commented on #30
@skohare-tech Can you provide a direct link to a single Swift file in this set of projects?
The last file extension to your link should be `.swift`.
e.g. `https://github.com/skohare-tech/PracticeDemoCode/SomeFolder/SomeSwiftFile.swift`

[2022-09-26 05:53] skohare-tech commented on #30
Hello @nets-dev
I have checked, You are right there swift file is not uploaded, I am checking for that what is the problem and will update you.

[2022-09-26 06:16] nets-dev commented on #30
@skohare-tech Forked projects are not your own. Try to upload code that you've worked on at school, in tutorial or your personal project!

[2022-09-27 05:28] nets-dev commented on #30
@skohare-tech That will not be necessary. Ability to use `git` is one of our basic requirements so we advice you to build your skills by working on personal projects and uploading to GitHub in the future. Thank you!

(We'll still grant you access to the project if you manage to upload a project to GitHub in the next few days)

[2022-09-27 07:23] skohare-tech commented on #30
@nets-dev  I am agree with you. It's basic requirement and I am also working with BitBucket since 3 years in team. I have good knowledge about version control. Since 3 days I was busy that's why not given time on that.
I have added code and checked also, now and you can check by url https://github.com/skohare-tech/PracticeProjects
Sorry for the delaying.

[2022-09-27 17:36] gauravtiwarincc opened #31 "iOS/ Gaurav Tiwari , iOS assignment request"
Hi, my name is  Gaurav Tiwari. I have about 7 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this weekend and will start working on the project as soon as I get the access. Thanks!

[2022-09-28 04:07] nets-dev commented on #31
Hi @gauravtiwarincc, you have been invited to the project. Can you confirm that you have access?

[2022-09-28 04:14] nets-dev commented on #30
@skohare-tech This is still not satisfying however we have invited you to the project. Can you confirm that you have access?

[2022-09-28 11:38] skohare-tech commented on #30
Hi @nets-dev,
I have received your request and checked task also. The thing is that you requested for the SwiftUI development but I don't have experience with the SwiftUI, So I have request to accept the development with storyboard UI.

[2022-09-28 13:46] nets-dev commented on #30
@skohare-tech Learning is a big part of software development. The UI is quite simple and we appreciate what you're able to learn and implement if you decide to take the challenge. Best of luck!

[2022-10-03 11:10] Noushad03 opened #32 "iOS/ Noushad Shah, iOS Assignment Request"
Hi, my name is Noushad Shah. I have about 9 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free now and will start working on the project as soon as I get the access. Thanks!

[2022-10-03 11:51] ShwetaJalagi opened #33 "iOS/ Shweta Jalagi Bhagat, iOS Assignment Request"
Hi, my name is Shweta Jalagi Bhagat. I have about 6 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am will start working on the project from this weekend. Thanks!

[2022-10-03 12:57] nets-dev commented on #33
Hi @ShwetaJalagi , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-03 13:03] nets-dev commented on #32
Hi @Noushad03, we have sent you an invite. Can you confirm that you have access to the project?

[2022-10-05 07:21] Murali-578 opened #34 "Murali Gorantla - iOS assignment request"
@nets-dev
Hi, my name is Murali Gorantla. I have about 9+ years of experience working as an iOS developer and have experience in Swift and Objective - C. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-05 07:23] nets-dev commented on #34
Hi @Murali-578 When do you think you can start working on the assignment project?

[2022-10-05 07:33] Murali-578 commented on #34
Hi @nets-dev Once got the access, will try to submit the task by this weekend

[2022-10-07 08:46] Purushottam-Malakar opened #35 "iOS"
Hi,
My name is Purushottam Malakar. I have about 6.5 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-07 08:47] gauravtiwarincc opened #36 "iOS/ Gaurav Tiwari, iOS Assignment Request"
Hi, my name is Gaurav Tiwari. I have about 7 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am will start working on the project from this weekend. Thanks!

[2022-10-07 11:42] nets-dev commented on #36
@gauravtiwarincc we mentioned to tag nets-dev in your messages. Is that clear to you?

[2022-10-07 11:42] nets-dev commented on #35
Hi @Purushottam-Malakar , we mentioned to tag nets-dev in your messages. Is that clear to you?

[2022-10-07 12:18] nets-dev commented on #35
@Purushottam-Malakar , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-11 08:35] Purushottam-Malakar commented on #35
hello
Now you given me the assignment . I already open my projects for public.

Thanks

[2022-10-12 05:03] nets-dev commented on #35
@Purushottam-Malakar We have sent you an invitation.
Note!!! Always tag `nets-dev` in your comments and messages so we receive notification and reply promptly!
Can you confirm that you have access to the project?

[2022-10-12 06:02] Purushottam-Malakar commented on #35
@nets-dev  I received the project and design also in this project.

[2022-10-13 10:13] Technomystic opened #37 "iOS / Niraj Joshi, iOS assignment request"
Hi, my name is Niraj Joshi. I have about 8+ years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get access. Thanks!

[2022-10-14 06:37] nets-dev commented on #37
Hi @Technomystic, we have sent you an invite. Can you confirm that you have received it?

PS, make sure to tag `@nets-dev` when you comment on GitHub so that we receive notifications!!!

[2022-10-15 10:01] Purushottam-Malakar commented on #35
@nets-dev I have done your assignment but don't know how to commit on your branch because project is private.
Please provide me your email id so I will share you on main this project.

[2022-10-18 10:00] manojiios opened #38 "iOS Manoj"
Hi, my name is Manoj. I have about 7+ years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 10:00] SagarDabhi opened #39 "iOS / Sagar Dabhi, iOS assignment request"
Hi, my name is Sagar Dabhi. I have about 6.2 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 10:08] Sumithra-SD opened #40 "iOS / Sumithra devi S, iOS assignment request"
Hi, my name is Sumithra Devi S. I have about 7.5 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 10:13] madhaviyalamaddi opened #41 "iOS / Madhavi Y, iOS assignment request"
Hi, my name is Madhavi Y. I have about 8.0 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 10:39] shreethaanu opened #42 "iOS ShreeThaanu R, iOS assignment request"
Hi, my name is ShreeThaanu. I have about 6 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 10:49] yogiguruprasad opened #43 "Venkata Yogi Guru Prasad,Gudluri, iOS assignment request"
Hi, my name is venkata Yogi Guru Prasad Gudluri. I have about 7 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free from Thursday and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 11:00] dj200891 opened #44 "Dhruv Jain, iOS assignment request"
Hi, my name is Dhruv Jain. I have about 7 years of experience working as an iOS developer and have experience in Swift and Objective-C. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get access.

Thanks!

[2022-10-18 11:11] SachinSabat opened #45 "Sachin Sabat | iOS assignment request"
Hi, my name is Sachin Sabat. I have about 7+ years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 11:22] sathyaiosdeveloper opened #46 "Sathya C, iOS assignment request"
Hi, my name is  sathya and received a link to this assignment from Swapnil Telange.

I have about 5 years of experience working as an iOS developer and have experience in Swift.
This is my personal GitHub account and contains some of my iOS projects.
You may grant my Github account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the acc

[2022-10-18 11:39] surajkodre79 opened #48 "Suraj Kodre, iOS assignment request"
Hi my name is Suraj Kodre,

I have about 4.5+ years of experience working as an iOS developer and have experience in Swift.
This is my GitHub account link - https://github.com/surajkodre79?tab=repositories
You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access.

Thanks!

[2022-10-18 11:44] sugumaran opened #49 "Sugumaran Munuswamy, iOS assignment request"
Hi @nets-dev , my name is  Sugumaran Munuswamy. I have about overall is 9 years and 8 years of experience working as an iOS developer and have 5 years experience in Swift. You may grant my GitHub account (https://github.com/sugumaran) access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 11:45] chetannikam23 opened #50 "iOS/Chetan Nikam iOS assignment Request"
Hi, my name is Chetan Nikam. I have about 3 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 11:51] NavinVr opened #51 "iOS Navin sharma, iOS assignment request"
Hi, my Navin sharma. I have about overall is 9 years in iOS developer and have 6 years experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am will start working on the project from this weekend. Thanks!

[2022-10-18 12:31] dhivya17 opened #53 "iOS assignment access request"
Hi @nets-dev , my name is Dhivya Venkatachalam. I have about 7.7 years of experience working as an iOS developer. You may grant my GitHub account (https://github.com/dhivya17) access to the iOS code assignment. I will start working on the project as soon as I get the access. Thanks!

[2022-10-18 12:46] vidhya0903 opened #54 "Vidhya S, iOS assignment request"
Hi @nets-dev , I am Vidhya S. I have around 6+ years of experience in developing iOS applications in Swift. You may grant the github account access to the iOS assignment request. I am free this week and will start working on the project as soon as I get the access.
Thanks @nets-dev

[2022-10-18 14:14] prajakta27 opened #55 "Prajakta Sonawane iOS assignment request"
Hi, my name is Prajakta Sonawane. I am having 7 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 14:36] amit0823 opened #56 "Amit Gupta iOS assignment request"
Hi, @nets-dev  I am Amit Gupta. I have around 5 years of experience in developing iOS applications in Swift. You may grant the GitHub account access to the iOS assignment request. I am free this week and will start working on the project as soon as I get access.
Thanks. @nets-dev

[2022-10-18 14:52] Purushottam-Malakar commented on #35
@nets-dev can you help me out for send project on your mail id.

[2022-10-18 16:19] MonalisaSwain opened #58 "Monalisa Swain iOS Assignment Request"
Hi @nets-dev, my name is Monalisa Swain. I have about 4.2 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-18 16:20] sudheerkumar0907 opened #59 "Sudheer Kumar, iOS assignment request"
Hi, my name is Sudheer Kumar. I have about 6 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get access. Thanks!

[2022-10-18 16:37] ganeshkumar122 opened #60 "Ganesh Kumar Maruthasalam iOS Assignment Request"
Hi, my name is Ganesh Kumar Maruthasalam. I have about 7 years of experience working as an iOS developer and have 6+ experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get access. Thanks!

[2022-10-18 18:42] SuchiPSahoo opened #62 "Request for iOS Assignment/ Suchiprava Sahoo"
Hi @_nets-dev_,
My name is Suchiprava Sahoo. I have nearly 4 years of experience working as an iOS developer and have experience in Swift and Objective-C. I am also learing SwiftUI for improving my skills. You may grant my GitHub account access to the iOS code assignment. I am free this weekend and will start working on the project as soon as I get the access.
Thanks!

[2022-10-18 19:20] jasvinder-pathania opened #63 "Jasvinder Singh, iOS assignment request"
Hi, my name is Jasvinder Singh. I have about 9 years of experience working as an iOS developer and have experience in Swift & Objective C. You may grant my GitHub account access to the iOS code assignment. I am free this weekend and will start working on the project as soon as I get access. Thanks!

[2022-10-19 04:21] pramodkhandalios opened #64 "Pramod Kumar Sharma, iOS assignment request"
Hi, my name is Pramod Kumar Sharma. I have about 6 years of experience working as an iOS developer and have 4+ experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get access. Thanks!

[2022-10-19 04:30] gaurav02712 opened #65 "Gaurav Pandey, iOS assignment request"
Hello @nets-dev, My name is **Gaurav Pandey** and I received a link to this assignment from Swapnil Telange. I have **9 years** of experience in the native IOS domain,
You may grant my GitHub account access to the iOS code assignment. I am free **from Friday (21st October)** and will start working on the project as soon as I get access. Thanks!

[2022-10-19 05:24] nets-dev commented on #40
Hi @Sumithra-SD, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 05:32] nets-dev commented on #39
Hi @SagarDabhi, we have sent you an invitation. Can you confirm that you've received it?
PS, always tag `@nets-dev` in your messages and comments in GitHub as instructed in the assignment description.

[2022-10-19 05:35] nets-dev commented on #38
Hi @manojiios, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 05:49] nets-dev commented on #41
Hi @madhaviyalamaddi, we've sent you an invitation, can you confirm?
PS, always tag `@nets-dev` in your messages/comments in GitHub as instructed!

[2022-10-19 06:20] nets-dev commented on #42
Hi @shreethaanu, we've sent you an invitation. Can you confirm?
PS, tag `@nets-dev` in your messages/comments in GitHub.

[2022-10-19 06:25] nets-dev commented on #43
Hi @yogiguruprasad, we've sent you an invitation. Can you confirm?
PS, always tag `@nets-dev` in your GitHub messages/comments.

[2022-10-19 06:58] nets-dev commented on #44
Hi @dj200891, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:01] nets-dev commented on #45
Hi @SachinSabat, we've sent you an invitation. Can you confirm?
PS, always tag `@nets-dev` in your messages/comments in GitHub

[2022-10-19 07:05] nets-dev commented on #46
Hi @sathyaiosdeveloper, please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:14] nets-dev commented on #48
Hi @surajkodre79, we've sent you an invitation. Can you confirm?
PS, always tag `@nets-dev` in your GitHub messages/comments.

[2022-10-19 07:15] nets-dev commented on #49
Hi @sugumaran , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:15] nets-dev commented on #50
Hi @chetannikam23 , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:16] nets-dev commented on #51
Hi @NavinVr , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:35] nets-dev commented on #53
Hi @dhivya17, we've sent you an invitation. When can you start working on the project?

[2022-10-19 07:40] nets-dev commented on #54
Hi @vidhya0903 , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:42] nets-dev commented on #55
Hi @prajakta27, we've sent you an invitation. When can you start working on the project?

[2022-10-19 07:45] nets-dev commented on #56
Hi @amit0823, we've sent you an invitation. When can you start?

[2022-10-19 07:48] nets-dev commented on #58
Hi @MonalisaSwain , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:49] nets-dev commented on #59
Hi @sudheerkumar0907 , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:49] nets-dev commented on #60
Hi @ganeshkumar122 , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:52] nets-dev commented on #62
Hi @SuchiPSahoo , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:55] nets-dev commented on #63
Hi @jasvinder-pathania , we've sent you an invitation. Can you confirm?
PS, always tag @nets-dev in your GitHub messages/comments.

[2022-10-19 07:56] nets-dev commented on #64
Hi @pramodkhandalios , please use your personal GitHub account with some projects for reference.
As a developer, projects speak louder than years of experience or CV.
(Any project in iOS, even tutorial/school projects would be appreciated)

[2022-10-19 07:57] nets-dev commented on #65
Hi @gaurav02712, we've sent you an invitation. When can you start?

[2022-10-19 16:11] Applesathya commented on #46
Hello @nets-dev

  I have uploaded a project please check

[2022-10-19 17:06] VinothNilavan opened #66 "Vinoth Sivanandam, iOS assignment request"
Hi @nets-dev,
Vinoth Sivanandam here. and received a link to this assignment from Aishwarya Bagane.

I have about 9.9 years of working experience as an iOS developer and have experience in Swift/Obj c.
This is my personal GitHub account and contains some of my iOS projects.
You may grant my Github account access to the iOS code assignment. I am free this week and will start working on the project

[2022-10-21 04:46] khanzayed opened #67 "Faraz Habib, iOS assignment request"
Hi Team,

I have 7 years of experience in iOS development. I have experience in working with both service based and product based companies. Please share the assignment today. @nets-dev

[2022-10-25 11:46] ketandhoka opened #68 "Ketan Dhoka, iOS assignment request"
Hi, my name is Ketan Dhoka. I have about 8.5 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!

[2022-10-27 15:48] chetannikam23 commented on #50
[CAE.zip](https://github.com/nets-dev/assignment/files/9880960/CAE.zip)
[coredata.zip](https://github.com/nets-dev/assignment/files/9880963/coredata.zip)
[SolaceInfo.zip](https://github.com/nets-dev/assignment/files/9880964/SolaceInfo.zip)

[2022-10-27 15:48] #50 closed

[2022-11-04 13:57] avinasht01 opened #69 "Avinash Thakur iOS Assignment Request"
Hi, my name is Avinash Thakur, I have about 9 years of experience working as an iOS developer and have experience in Swift. You may grant my GitHub account access to the iOS code assignment. I am free this week and will start working on the project as soon as I get the access. Thanks!